.title {
  color : #20B2AA;
  font-size : 35px;
  font-weight: bolder;
  margin : 10px;
}
.text1{
  font-weight: bold;
  font-size : 25px;
  margin : 15px;
}
.text2{
  margin : 5px;
  font-size : 15px;
}
.inputbox{
  margin : 10px;
}
#askin{
  border-color :#20B2AA;
  border-radius: 10px;
  width : 250px;
  height : 50px;
  font-size : 15px;
  margin : 10px;
}
#gptbtn{
  border-radius: 10px;
  border-color: white;
  height : 50px;
  width : 50px;
  padding : 15px;
  background : url(gpt.png);
  background-size: contain;
}
.outputbox{
  margin : 10px;
}
.gptbox{
  margin : 10px;
  border-color :#20B2AA;
  border-radius: 10px;
  width : 250px;
  height :200px;
  font-size : 15px;
}
#outbtn{
  color :white;
  background-color: #20B2AA;
  border-radius: 5px;
  font-size: 15px;
  font-weight: bold;
  border-color: white;
  height : 200px;
  width : 50px;
}
.result{
  margin : 10px;
  border-color :#20B2AA;
  border-radius: 10px;
  height : 125px;
}
.resultbox{
  margin : 10px;
  border-color :#20B2AA;
  border-radius: 10px;
  width : 350px;
  height : 150px;
  font-size : 15px;
}
.category{
  font-weight: bold;
  margin: 10px;
  font-size: 15px;
}
.category1{
  color : red;
  float : left;
  font-weight: bold;
  margin-left: 10px;
}
.category2{
  color : orange;
  float : right;
  margin-left: 10px;
}
.category3{
  color : rgb(12, 184, 126);
  float : right;
  margin-left: 10px;
}
.category4{
  color : rgb(12, 124, 184);
  float : right;
  margin-left: 10px;
}
.category5{
  color : rgb(154, 82, 232);
  float : right;
  margin-left: 10px;
}
.category6{
  color : rgb(216, 21, 148);
  float : right;
}