.title {
  color : #58ba9e;
  font-size : 50px;
  font-weight: bolder;
  margin : 10px;
}
.text1{
  font-weight: bold;
  font-size : 25px;
  margin : 15px;
}
.text2{
  font-size : 15px;
  margin : 10px;
}
.inputbox{
  margin : 10px;
}
#askin{
  border-color :#58ba9e;
  border-radius: 10px;
  width : 500px;
  height : 50px;
  font-size : 15px;
  margin : 10px 0px 10px 10px;
  padding-left: 10px;
}
#gptbtn{
  border-radius: 10px;
  border-color: white;
  height : 50px;
  width : 50px;
  padding : 17px;
  background : url(gpt.png);
  background-size: contain;
}
.outputbox{
  margin : 10px;
}
.gptbox{
  border-color :#58ba9e;
  border-radius: 10px;
  width : 500px;
  height :150px;
  font-size : 15px;
  margin : 10px 0px 10px 10px;
  padding-left: 10px;
}
#outbtn{
  color :white;
  background-color: #58ba9e;
  border-radius: 10px;
  font-size: 15px;
  font-weight: bold;
  border-color: white;
  height : 150px;
  width : 50px;
}
.result{
  margin : 10px 0px 0px 20px;
  padding: 10px;
  background-color: #58ba9e;
  border-radius: 10px;
  height : 150px;
  float: left;
}
.resultbox{
  margin : 10px 0px 0px 0px;
  padding: 10px;
  border-color: #58ba9e;
  border-radius: 10px;
  width : 500px;
  height : 150px;
  font-size : 15px;
}
.category{
  font-weight: bold;
  margin: 10px;
  font-size: 15px;
}
.category1{
  color : red;
  float : left;
  font-weight: bold;
  margin-left: 10px;
}
.category2{
  color : orange;
  float : right;
  margin-left: 10px;
}
.category3{
  color : green;
  float : right;
  margin-left: 10px;
}
.category4{
  color : rgb(12, 124, 184);
  float : right;
  margin-left: 10px;
}
.category5{
  color : rgb(154, 82, 232);
  float : right;
  margin-left: 10px;
}
.category6{
  color : rgb(216, 21, 148);
  float : right;
}